@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */
body {
  margin: 0;
  padding: 0;
}

.light {
  background: #ffedd5; /* Light mode background */
  color: #1e293b; /* Light mode text color */
  padding: 0 100px; /* Adjust padding for light mode */
}

.dark {
  background: #34373b; /* Dark mode background */
  color: #e5e7eb; /* Dark mode text color */
  padding: 0 100px; /* Adjust padding for dark mode */
}

@media (max-width: 768px) {
  body {
    padding: 0; /* Remove padding for mobile devices */
  }
}
