@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */


body {
  margin: 0;
  padding: 0;
  background: #34373b;
  padding: 0px 100px; 
}

@media (max-width: 768px) {
  body {
    padding: 0; /* Remove padding for mobile devices */
  }
}


